---
layout: default
Team:
  - Name: Caroline
    Team-title: The Founder and Matchmaker
    Paragraph: Caroline launched Upsource after the first lockdown in July 2020, and was awarded “UK Best Newcomer VA 2021” by the UK VA Conference & Awards.
    Paragraph1: Caroline has been working in the VA industry since 2016, with a background ranging from being a PA for C-Suite executives in the NHS to working in customer experience and a brief stint in events & communications.
    Paragraph2: She started Upsource having become frustrated with the job market after welcoming her first child in 2018. After a disastrous return to work she was made redundant in 2019 and then took furlough in 2020 to care for her toddler. Unable to work from home, Caroline wanted to be able to support business owners like her.
    Paragraph4: Caroline believes anyone can achieve their version of success when they have the right support in all areas of their life and business. And that’s where Upsource comes in.
    Tag: Caroline is based in London and  loves to help with these key tasks.
    Skills:
        - Ensuring clients are spending their time where it matters most!
        - Processes & business development
        - Onboarding
        - Customer experience

    Q1: What does Upsourcing mean to you?
    A1: Helping and guiding you to achieve your version of success (whether that is growing your business, spending more time with the kids or switching off whenever you need to). We can do the tasks you don't need to, don't like to or shouldn’t do!
    Q2: What would you Upsource from your life or business?
    A2: Definitely my writing tasks!  I am not a writer even though we love working with lots of them at Upsource. And my travel / holiday plans! I'm very happy not to spend my time scouring the internet for the best deals ;)
    Img_path: /images/Caroline.jpg
    Img_alt:
  - Name: Nadine
    Team-title: The Events & Projects VA
    Paragraph: With over 20 year’s experience organising delicious and exciting events like Taste of London, Big Feastival and The Life Lessons Festival, Nadine is a specialist in festivals, conferences and exhibitions with both a corporate and consumer flavour.
    Paragraph1: Over the years Nadine has also worked extensively internationally producing B2B conferences, exhibitions, high profile pharmaceutical product launches, award ceremonies and trade exhibitions. These events have taken her to Japan, Australia and across Europe and given Nadine an excellent understanding of the demands of international business.
    Paragraph2: With her organisational experience, business acumen and love of getting the job done, Nadine started working as a Virtual Assistant in 2020 to put her diverse skills set to good use.
    Tag: Nadine is based in Hertfordshire and can help you with the below
    Skills:
          - Event planning and management
          - Project management
          - Creating and formatting documents and presentations
          - Diary, email and appointment management
          - Email inbox support
          - Booking travel and accommodation
          - Sourcing merchandise
          - Researching information and creating/maintaining databases
          - Website QA
          - File Management – Google Drive, One Drive, Drop Box
          - Proof reading and copy editing

    Q1: What does Upsourcing mean to you?
    A1: Upsourcing means receiving support for tasks you'd like taken off your hands so you can focus on what you need and prefer to do.
    Q2: What would you Upsource?
    A2: Definitely accounting as I prefer an expert to look after my business finance.
    Img_path: /uploads/Nadine.jpg
    Img_alt:
  - Name: Charlie
    Team-title: The Contracts & Projects VA
    Paragraph: Charlie started her career in Theatre Administration, supporting the Technical Director and Production Managers at Cameron Mackintosh Ltd on West End and international productions of Les Miserables, Phantom of the Opera, Hamilton and more.  So naturally, Charlie loves working with our more creative clients.
    Paragraph1: Charlie is creative, personable and approachable, she will take the drama out of the tasks that you need help with.  She’s passionate about creating time for the people and things her clients love.
    Tag: Charlie is based in Hertfordshire, and loves to help with the below.
    Skills:
          - Inbox and diary management
          - Contract negotiations
          - General administration and organisation
          - Researching and booking travel and accommodation
          - Scheduling meetings, creating agendas and taking notes
          - Project management and accountability

    Q1: What does Upsourcing mean to you?
    A1: Delegating the tasks that you dread doing. The ones that are are time-consuming and don't fall within your skill set, so you can focus on the things you love to do.
    Q2: What would you Upsource from your life or business?
    A2: Social media and marketing, not my cup of tea at all!
    Img_path: /uploads/CharlieLester.jpg
    Img_alt:
  - Name: Steph
    Team-title: The Content & Social VA
    Paragraph: Steph specialised in digital marketing for creative agencies for 8 years before travelling,  surfing and working around  the world and starting her own business. She has worked  across UX, website design and builds, social media campaigns and copywriting, for clients from the Premier League and Barclays Bank to small independent businesses and artists.
    Paragraph1:
    Paragraph2:
    Tag: Steph is based in Cornwall and can help you with the below.
    Skills:
        - Brand messaging
        - Content marketing
        - Copy writing
        - SEO
        - Social media
        - Website design and build

    Q1: What does Upsourcing mean to you?
    A1: It means letting the experts do what they are good at, to give you the space you need to do what you are good at.
    Q2: What would you Upsource?
    A2: Anything to do with “personal admin” - accounting, insurance, things that I find baffling and boring but someone else would know exactly how to handle!
    Img_path: /uploads/StephFox.png
    Img_alt:
  - Name: Louise
    Team-title: The Admin Expert & Processes VA
    Paragraph: With over 20 years of experience, Louise started out in Executive Search before moving to a Private Equity firm, and starting her own VA business in 2016.  Her roles have included, Project Management, EA, Researcher and Client Onboarding and Account Management.
    Paragraph1: Louise has two young children, many animals and spends any free time studying for her horticulture exams.
    Paragraph2:
    Tag: Louise is based in Hertfordshire and loves to help with the below.
    Skills:
        - Processes
        - Client onboarding
        - Research
        - Inbox and diary and management
        - Board meetings
        - Project management software
        - Events management
        - Travel


    Q1: What does Upsourcing mean to you?
    A1: Customised, expert support. No one is good at everything, Upsourcing is your chance to focus on your strengths and let the experts handle the rest.
    Q2: What would you Upsource from your life or business?
    A2: Accounting/tax & holiday research and bookings
    Img_path: /uploads/LouiseEllis.jpg
    Img_alt:
  - Name: Sophie
    Team-title: The Organisation & Marketing VA
    Paragraph: Sophie's experience includes buying for international markets across multiple product areas for bluechip conglomerates. She has a commercial creative background in marketing and buying, which includes negotiations, critical path management and supplier relations. More recently her experience includes branching out into the motion picture film industry where she and her husband run two businesses, as well as Sophie's VA business. In addition to this Sophie is a qualified bookkeeper. Sophie enjoys travelling, running, lots of family time, and renovating and project managing residential properties!
    Paragraph1:
    Paragraph2:
    Tag: Sophie is based in Tring, Hertfordshire and can help you with the below.
    Skills:
          - Digital marketing
          - Range building and new product development
          - Brand messaging
          - Organisation and time management
          - Bookkeeping

    Q1: What does Upsourcing mean to you?
    A1: It means, let me do what I do best, to help you do what you do best!
    Q2: What would you Upsource from your life or business?
    A2: Anything to do with social media - whilst I love a good look around on Facebook, I often also lose interest!
    Img_path: /uploads/SophieRyan.jpeg
    Img_alt:
  - Name: Nicola
    Team-title: The Planning and Process VA
    Paragraph: Nicola kicked off her career establishing a solid foundation in traditional corporate business administration. She worked her way up through the ranks to operate at the most senior level. Nicola has spent the past 5 years travelling, working towards a Bachelor of Law Honours Degree, and building out her skill set in the start-up sector. Her main focus has been Client Services and Operations with an incredible eye for detail
    Paragraph1:
    Paragraph2:
    Tag: Nicola is based in South Africa and can help you with the below.
    Skills:
        - Project management
        - Planning / coordination
        - Process building / management
        - Priorities management
        - Communications

    Q1: What does Upsourcing mean to you?
    A1: It means working with a team of seasoned professionals, to help you move your business forward.
    Q2: What would you Upsource from your life or business?
    A2: Personal / life admin! I’m great at it for my clients, but when it comes to myself, I just want to relax and keep my work and life separate.
    Img_path: /uploads/NicolaSchommer.jpg
    Img_alt:
---





<div class="padded capped-width margin centered light-bg">
  <h2 class="white"> Meet the team </h2>
  <!-- <p class="whites"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
</div>
<div class="">

  {% for item in page.Team %}
<section class="grid margin  flex-flip padded-1">
      <div class="col-4-SpaceAround_md-12 right grid padded vertical-line-review">

        <div class="col-12 padded">
          <img class="editable"  alt="{{ item.img_alt}}" src=" {{item.Img_path}}" width="1500" />

        </div>

      </div>


      <div class="col-7-middle_md-12_sm-12  dark-bg margin padded">
        <div class="col-12 centered">
          <h3 class="editable">
            {{item.Name}}
          </h3>
        </div>
        <h3 class="editable centered">
          {{item.Team-title}} </h3>



<ul>

 <p>{{item.Tag}}</p>

 {% for Skill in item.Skills %}

<div class="padded-left">
  <li>{{Skill}}</li>
</div>
 {% endfor %}

</ul>




<div class="list hidden"  data-list="{{item.Name}}">


<p> {{item.Paragraph}} </p>
<p>{{item.Paragraph1}}</p>
<p>{{item.Paragraph2}}</p>

<h5 class="margin-top"> {{item.Q1}}</h5>
<p>{{item.A1}}</p>
<h5>{{item.Q2}}</h5>
<p>{{item.A2}}</p>

</div>

<div class="button team-member" data-target="{{item.Name}}"> Read More </div>

</div>

    </section>

    {% endfor %}
